matplotlib==3.10.1
matplotlib-inline==0.1.7
numpy==1.26.3
PyQt5==5.15.10
PyQt5-Frameless-Window==0.7.4
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.2
PyQt6==6.10.0
PyQt6-Qt6==6.10.0
PyQt6-WebEngine==6.10.0
PyQt6-WebEngine-Qt6==6.10.2
PyQt6_sip==13.10.2
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.2
pytz==2023.3.post1
QtPy==2.4.3
qtwidgets==1.1
requests==2.32.3